@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2? família= Paixão+Um:wght@400;900 & display=swap');
a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}
article{
    margin-bottom: 70px;
}
body {
    margin: 10px 7px 0px 0px;
}
 body > header > a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 5vw;
}
div{
    padding: 51px 25px 42px 0px;
}
div.branco{
    background-color: white;
    
}
div.girasol{
    background-image: url(../imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 1000px;
    margin: 0px -7px 20px -10px;
    padding-top: 30px;
}
div.girasol p{
    background-color: #011200dc;
    text-align: justify;
    padding: 14px 11px 0px 3px;
    margin: 0px 1px 1px 32px;
    color: white;
    font-size-adjust: inherit;
    display: inline-block;
}
div.livros{
    background-image: url(../imagens/background002.jpg);
    background-attachment: fixed;
    background-position: right;
    height: 800px;
    padding-top: 1px;
    margin:20px -7px 10px -10px;
    
}
div.livros p{
    color: white;
    background-color:#5b6156ab;
    display: inline-block;
    font-size: 4vw;
    margin-left: 30px;
    padding-left: 17px;
    
}
footer{
    background-color: black;
    margin: 6px -6px -13px -5px;

}
footer p{
    color: white;
    font-size: 3vw;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-weight: bolder;
}
footer a {
    color: white;
    text-decoration: none;
    text-align: center;
}
header{
    background-color: black;
    margin: -12px -7px 3px -11px;
    padding: 26px 29px 32px 27px;
    text-align: center;
    
}
 header > h1{
    font-size: 10vh;
    font-variant: small-caps;
    color: white;
    text-align: center;
    font-family: 'Passion One', cursive;
    
}
header p{
    text-align: center;
    color: white;
    font-size: 3vh;
}
html,body,main{
    min-height: 100%;
}


main{
    background-color: white;
}

p{
    font-family: 'Sriracha', cursiva;
    margin:1px 1px 1px 1px ;
    text-align: justify;
    font-size: 5vw;
    margin-left: 22px;
}
